<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="/css/main.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Upload CSV</title>
  </head>
  <body>
    <form action="/main/uploadxml" method="post" enctype="multipart/form-data">
      <input type="file" name="xml" />
      <input type="submit" name="submit" />
    </form>
  </body>
</html>
