.tableau {
  width: 90%;
  margin: auto;
}

table,
th,
td {
  border: 1px solid black;
  text-align: left;
  border-collapse: collapse;
  padding: 8px;
}

#download {
  text-align: center;
  margin: 10px;
}
